In [1]:
import pandas as pd

In [19]:
path_d = "../../datos/our_world_in_data/"
path_r = "../../resultados/our_world_in_data"
name = "annual-co2-emissions-"
fname_d = name + "per-country_2019.csv"
fname_r = name + "world.csv"

df = pd.read_csv(path_d + fname_d)

df.head()

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1750                   0.0
1  Afghanistan  AFG  1751                   0.0
2  Afghanistan  AFG  1752                   0.0
3  Afghanistan  AFG  1753                   0.0
4  Afghanistan  AFG  1754                   0.0

In [20]:
df = df[df["Entity"] == "World"].drop(["Entity", "Code"], axis = 1)
df = df.set_index("Year")

df.head()

      Annual CO2 emissions
Year
1750             9350528.0
1751             9350528.0
1752             9354192.0
1753             9354192.0
1754             9357856.0