In [ ]:
# Activar Google Drive.
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
# Calcula el pago de luz para tarifas residenciales.

import pandas as pd
import numpy as np

In [ ]:
path = "/content/drive/MyDrive/Colab/Subsidio_electricidad/"

# Escenarios.
RCP = ["RCP4p5", "RCP8p5"]
fut = [2030, 2050, 2070]
t = ["_tarifa_teorica", ""]

# Directorios.
path_cfe = path + "CFE/"
dirs = [RCP[1]]
csv = ".csv"
path_data = [path + "data/" + x + "/data." for x in dirs]
f_path = []
for p in path_data:
    f_path = ( f_path + [p + str(x) for x in fut]
        + [p + str(x) + "_tarifa_teorica" for x in fut]
        + [p + str(x) + "_pob_pib" for x in fut] )
f_path = [ path + "data/Actual/data" + x for x in t ] + f_path

f_tarifa = "Tarifa_1.csv"
f_dac = "DAC.csv"
f_regiones = "Regiones.csv"

tarifa = pd.read_csv(path_cfe + f_tarifa)
dac = pd.read_csv(path_cfe + f_dac)
regiones = pd.read_csv(path_cfe + f_regiones)

# Tipos de escalones para las tarifas.
escalon_0 = tarifa["Escalon"].unique()

# Se establece la tarifa DAC para cada estado.
regiones[ ["DAC Propuesto", "Equilibrio"] ] = np.nan
for i in regiones.itertuples():
    regiones.loc[ i[0], ["DAC 04-2013", "Equilibrio"] ] = ( 
        dac.drop(8).loc[ dac["Region"] == i.Region,
        ["DAC 04-2013", "Equilibrio"] ].values[0] )

# Impuestos y cargos fijos.    
IVA = 1.16
#FIJO_DAC = 121.75
FIJO_DAC = 78.85
MULT = 0.86

In [ ]:
# Pago actual

cons = ["Verano_Consumo_1*", "Verano_Consumo_DAC",
    "Invierno_Consumo_1*", "Invierno_Consumo_DAC"]

# Calculamos el pago para la tarifa
# teórica y para la tarifa real.
for k in [0, 1]:
    # Información mensual.
    df_0 = pd.read_csv(f_path[k] + csv)
    # Información anual.
    df_y = pd.read_csv(f_path[k] + "_yearly" + csv)

    # Promediamos el consumo y usuarios anuales.
    df = df_y.groupby("CVE_INEGI").mean()
    df["Tarifa"] = ""

    # Recuperamos la información de las tarifas.
    df[ [ "Tarifa", "NOM_ENT", "NOM_MUN" ] ] = (
        df_y[df_y["Año"] == 2010]
        .set_index("CVE_INEGI")[ 
        [ "Tarifa", "NOM_ENT", "NOM_MUN" ] ] )
    col = [x for x in df_y.columns]
    col.remove("CVE_INEGI")
    df = df[ col ]
    # Permite una tarifa diferente para cada año.
    #for i in df.itertuples():
    #    df.loc[i[0], "Tarifa"] = df_y.query(
    #        "CVE_INEGI==" + str(i[0]) +
    #        " & Año==2010" )["Tarifa"].values[0]

    # Redondeamos la cantidad de usuarios.
    df[["Usuarios_1*", "Usuarios_DAC"]] = df[
        ["Usuarios_1*", "Usuarios_DAC"]].round()

    # Retiramos la columna de año, que ya no tiene sentido.
    df.drop(columns = "Año", inplace = True)

    # Sumamos el consumo correspondiente al verano.
    df_2 = df_0.where(df_0["Verano"] == True)
    df_2 = df_2.groupby(["CVE_INEGI"]).sum() / 7
    df[cons[0:2]] = df_2[["Consumo_1*", "Consumo_DAC"]]

    # Sumamos el consumo correspondiente al invierno.
    df_2 = df_0.where(df_0["Verano"] == False)
    df_2 = df_2.groupby(["CVE_INEGI"]).sum() / 7
    df[cons[2:4]] = df_2[["Consumo_1*", "Consumo_DAC"]]

    # Retiramos las columnas de consumo total anual.
    df.drop(columns = [
    #"Consumo_1*",
    "Consumo_DAC"
    ], inplace = True)

    # Unimos las tarifas 1 y DAC.
    df["Verano_Consumo_1*"] += df["Verano_Consumo_DAC"]
    df.drop("Verano_Consumo_DAC", axis = 1, inplace = True)
    df["Invierno_Consumo_1*"] += df["Invierno_Consumo_DAC"]
    df.drop("Invierno_Consumo_DAC", axis = 1, inplace = True)
    df["Usuarios_1*"] += df["Usuarios_DAC"]
    df.drop("Usuarios_DAC", axis = 1, inplace = True)

    df.reset_index(inplace = True)

    # Se crean columnas para los
    # escalones de verano e invierno.
    verano_escalon = []
    invierno_escalon = []
    for e in escalon_0:
        verano_escalon.append("Verano_" + e)
        invierno_escalon.append("Invierno_" + e)
    escalon = [verano_escalon,
        invierno_escalon]
    df[verano_escalon] = np.nan
    df[invierno_escalon] = np.nan

    # Se establece el valor de consumo límite para cada escalon.
    for i in df.itertuples():
        df.loc[i[0], invierno_escalon + verano_escalon] = tarifa.loc[
            tarifa["Tarifa"] == i.Tarifa, "Límite_p"].array * 6

    # Columnas para consumo en verano e invierno.
    estacion = ["Verano_", "Invierno_"]
    verano_escalon_cons = [ "Cons_" +
        x for x in verano_escalon ]
    invierno_escalon_cons = [ "Cons_" +
        x for x in invierno_escalon ]
    escalon_cons = [ verano_escalon_cons,
        invierno_escalon_cons ]

    # Columnas para verano.
    df["Verano_Consumo_Usuario"] = ( df["Verano_Consumo_1*"]
        / df["Usuarios_1*"] )
    df[escalon_cons[0]] = df[escalon[0]].copy()
    df[estacion[0] + "Pago"] = 0

    # Columnas para invierno.
    df["Invierno_Consumo_Usuario"] = ( df["Invierno_Consumo_1*"]
        / df["Usuarios_1*"] )
    df[escalon_cons[1]] = df[escalon[1]].copy()
    df[estacion[1] + "Pago"] = 0

    df["DAC_Pago"] = 0

    # Iteramos para verano e invierno.
    for e in [0, 1]:

        # Offset de columnas de verano e invierno.
        if e == 0: s = 0
        else: s = 6

        col = np.concatenate( [
            [estacion[e] + "Consumo_Usuario"],
            escalon_cons[e]
            ] )

        # Calculamos los escalones de consumo
        # de acuerdo con cada límite.
        for i in range(len(col[:-1])):
            df[col[i + 1]] = df[col[i]] - df[col[i + 1]]

        # Eliminamos valores negativos.
        df[col[1:]] = df[col[1:]].clip( lower = 0 )

        col = np.concatenate( [ escalon_cons[e] ] )
        col = np.flip(col)

        # Recorremos los escalones a su posición adecuada.
        for i in range(len(col[:-1])):
            df[col[i]] = df[col[i + 1]]

        for i in df.itertuples():
            
            # No se está en tarifa DAC.
            if ( ( i.Verano_Consumo_Usuario +
                i.Invierno_Consumo_Usuario )
                <= ( i.Verano_Excedente * 2 ) ):
                # Si el consumo es menor al límite básico, el
                # escalon básico es igual al consumo total.
                if i[40 + s] == 0:
                    df.loc[i[0], escalon_cons[e][0]] = i[39 + s]
                # Si el consumo excede un escalón, 
                # el consumo de un escalón es su límite.
                for j in range(3):
                    if i[40 + s + j + 1] > 0:
                        df.loc[i[0], escalon_cons[e][j]] = i[
                            31 + s * 4 // 6 + j]
            
                df.loc[i[0], escalon_cons[e]] *= tarifa.query(
                  "Tarifa=='" + i.Tarifa + "' & Temporada=='"
                  + estacion[e][:-1] + "'")["Precio Propuesto"].array
        
            # Sí está en tarifa DAC.
            else:
                # El resto de pagos es igual a cero.
                df.loc[i[0], col] = 0

                # Se calcula el pago con todo el consumo general.
                df.loc[i[0], "DAC_Pago"] = ( (
                    i.Verano_Consumo_Usuario +
                    i.Invierno_Consumo_Usuario )
                    * regiones.loc[
                    regiones["CVE_ENT"] == i.CVE_ENT,
                    "DAC 04-2013"].values[0] + FIJO_DAC )
            
                #df.loc[i[0], "Tarifa"] = "DAC"

        # Se calcula el pago por temporada.
        df[estacion[e] + "Pago"] = ( df[
            np.concatenate( [ escalon_cons[e]
            ] ) ].sum(axis = 1) * IVA )

    # Se eliminan las columnas de apoyo.
    df.drop( columns = np.concatenate( [
        escalon_cons[0], escalon[0], escalon_cons[1], escalon[1],
        ["Verano_Consumo_Usuario", "Invierno_Consumo_Usuario"]
        ] ), inplace = True )

    # Se calcula el pago total.
    df["Pago_real"] = ( df[[estacion[0] + "Pago",
        estacion[1] + "Pago", "DAC_Pago"]].sum(axis = 1) )

    # Se eliminan los pagos parciales.
    df.drop( columns = [ estacion[0] + "Pago",
        estacion[1] + "Pago", "DAC_Pago" ], inplace = True )

    # Unimos el consumo de verano e invierno.
    df["Consumo_1*"] = ( df["Verano_Consumo_1*"]
        + df["Invierno_Consumo_1*"] )
    df["Consumo_Usuario"] = df["Consumo_1*"] / df["Usuarios_1*"]
    df["Pago_sin_subsidio"] = np.nan

    # Calculamos el precio sin subsidio, es decir,
    # con un precio plano igual al precio marginal.
    for i in df.itertuples():
        df.loc[i[0], "Pago_sin_subsidio"] = ( 
            i.Consumo_Usuario * regiones.loc[
            regiones["CVE_ENT"] == i.CVE_ENT,
            "Equilibrio" ].values[0] * IVA * MULT )

    # Se calcula el subsidio.
    df["Subsidio_Usuario"] = ( df["Pago_sin_subsidio"] -
        df["Pago_real"] )
    df["Subsidio"] = df["Subsidio_Usuario"] * df["Usuarios_1*"]

    df.to_csv(f_path[k] + "_Pago_Propuesto" + csv, index = False)

    print(f_path[k] + "_Pago_Propuesto" + csv)
    print(f"Pago    : {df['Pago_real'].sum():e}")
    print(f"Subsidio: {df['Subsidio'].sum():e}")
    print(f"Usuarios: {df['Usuarios_1*'].sum():e}")
    print(f"Consumo : {df['Consumo_1*'].sum():e}\n")  

df

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/Actual/data_tarifa_teorica_Pago_Propuesto.csv
Pago    : 3.738629e+06
Subsidio: 4.457490e+10
Usuarios: 3.322479e+07
Consumo : 5.323831e+10

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/Actual/data_Pago_Propuesto.csv
Pago    : 3.622745e+06
Subsidio: 4.825781e+10
Usuarios: 3.322479e+07
Consumo : 5.323831e+10

      CVE_INEGI  CVE_ENT  ...  Subsidio_Usuario      Subsidio
0          1001      1.0  ...       1241.517994  3.165548e+08
1          1002      1.0  ...       1357.883554  1.569306e+07
2          1003      1.0  ...       1353.334237  2.264940e+07
3          1004      1.0  ...       1365.889242  5.173988e+06
4          1005      1.0  ...       1306.825174  3.998493e+07
...         ...      ...  ...               ...           ...
2464      32054     32.0  ...       1366.297924  5.359987e+06
2465      32055     32.0  ...       1363.992519  1.206724e+07
2466      32056     32.0  ...       1248.368538  4.706599e+07
2467      32057     32.0  ...       1100.957648  1.725641e+07
2468      32058     32.0  ...       1197.657087  1.269517e+06

[2469 rows x 35 columns]

In [ ]:
# Pago futuro

names = ["", "_tarifa_teorica", "pob_pib"]

#for k in range(1, len(f_path)):
for k in range(2, len(f_path)):

    cons = ["Verano_Consumo_1*", "Verano_Consumo_DAC",
        "Invierno_Consumo_1*", "Invierno_Consumo_DAC"]

    # Información mensual.
    df_0 = pd.read_csv(f_path[k] + csv)
    # Información anual.
    df = pd.read_csv(f_path[k] + "_yearly" + csv)
    df.set_index("CVE_INEGI", inplace = True)
    df["Usuarios_1*"] = df_0.groupby(
        "CVE_INEGI").mean()["Usuarios_1*"]
    #df.drop(columns = ["NOM_ENT", "NOM_MUN"], inplace = True)

    # Redondeamos la cantidad de usuarios.
    #df[["Usuarios_1*", "Usuarios_DAC"]] = df[
    #    ["Usuarios_1*", "Usuarios_DAC"]].round()
    df["Usuarios_1*"] = df["Usuarios_1*"].round()

    # Retiramos la columna de año, que ya no tiene sentido.
    df.drop(columns = "Año", inplace = True)

    # Sumamos el consumo correspondiente al verano.
    df_2 = df_0.where(df_0["Verano"] == True)
    df_2 = df_2.groupby(["CVE_INEGI"]).sum()
    #df[cons[0:2]] = df_2[["Consumo_1*", "Consumo_DAC"]]
    df[cons[0]] = df_2["Consumo_1*"]

    # Sumamos el consumo correspondiente al invierno.
    df_2 = df_0.where(df_0["Verano"] == False)
    df_2 = df_2.groupby(["CVE_INEGI"]).sum()
    #df[cons[2:4]] = df_2[["Consumo_1*", "Consumo_DAC"]]
    df[cons[2]] = df_2["Consumo_1*"]

    # Retiramos las columnas de consumo total anual.
    df.drop(columns = [
    #    "Consumo_1*",
        "Consumo_DAC"
        ], inplace = True)

    # Unimos las tarifas 1 y DAC.
    #df["Verano_Consumo_1*"] += df["Verano_Consumo_DAC"]
    #df.drop("Verano_Consumo_DAC", axis = 1, inplace = True)
    #df["Invierno_Consumo_1*"] += df["Invierno_Consumo_DAC"]
    #df.drop("Invierno_Consumo_DAC", axis = 1, inplace = True)
    #df["Usuarios_1*"] += df["Usuarios_DAC"]
    df.drop("Usuarios_DAC", axis = 1, inplace = True)

    df.reset_index(inplace = True)
        
    # Se crean columnas para los
    # escalones de verano e invierno.
    verano_escalon = []
    invierno_escalon = []
    for e in escalon_0:
        verano_escalon.append("Verano_" + e)
        invierno_escalon.append("Invierno_" + e)
    escalon = [verano_escalon,
        invierno_escalon]
    df[verano_escalon] = np.nan
    df[invierno_escalon] = np.nan
        
    # Se establece el valor de consumo límite para cada escalon.
    for i in df.itertuples():
        df.loc[i[0], invierno_escalon + verano_escalon] = tarifa.loc[
            tarifa["Tarifa"] == i.Tarifa, "Límite_p"].array * 6

    # Columnas para consumo en verano e invierno.
    estacion = ["Verano_", "Invierno_"]
    verano_escalon_cons = [ "Cons_" +
        x for x in verano_escalon ]
    invierno_escalon_cons = [ "Cons_" +
        x for x in invierno_escalon ]
    escalon_cons = [ verano_escalon_cons,
        invierno_escalon_cons ]

    # Columnas para verano.
    df["Verano_Consumo_Usuario"] = ( df["Verano_Consumo_1*"]
        / df["Usuarios_1*"] )
    df[escalon_cons[0]] = df[escalon[0]].copy()
    df[estacion[0] + "Pago"] = 0

    # Columnas para invierno.
    df["Invierno_Consumo_Usuario"] = ( df["Invierno_Consumo_1*"]
        / df["Usuarios_1*"] )
    df[escalon_cons[1]] = df[escalon[1]].copy()
    df[estacion[1] + "Pago"] = 0

    df["DAC_Pago"] = 0

    # Iteramos para verano e invierno.
    for e in [0, 1]:

        # Offset de columnas de verano e invierno.
        if e == 0: s = 0
        else: s = 6

        col = np.concatenate( [
            [estacion[e] + "Consumo_Usuario"],
            escalon_cons[e]
            ] )

        # Calculamos los escalones de consumo
        # de acuerdo con cada límite.
        for i in range(len(col[:-1])):
            df[col[i + 1]] = df[col[i]] - df[col[i + 1]]

        # Eliminamos valores negativos.
        df[col[1:]] = df[col[1:]].clip( lower = 0 )

        col = np.concatenate( [ escalon_cons[e] ] )
        col = np.flip(col)

        # Recorremos los escalones a su posición adecuada.
        for i in range(len(col[:-1])):
            df[col[i]] = df[col[i + 1]]

        for i in df.itertuples():
        
            # No se está en tarifa DAC.
            if ( ( i.Verano_Consumo_Usuario +
                i.Invierno_Consumo_Usuario )
                <= ( i.Verano_Excedente * 2 ) ):
                # Si el consumo es menor al límite básico, el
                # escalon básico es igual al consumo total.
                if i[40 + s] == 0:
                    df.loc[i[0], escalon_cons[e][0]] = i[39 + s]
                # Si el consumo excede un escalón, 
                # el consumo de un escalón es su límite.
                for j in range(3):
                    if i[40 + s + j + 1] > 0:
                        df.loc[i[0], escalon_cons[e][j]] = i[
                            31 + s * 4 // 6 + j]
                    
                df.loc[i[0], escalon_cons[e]] *= tarifa.query(
                    "Tarifa=='" + i.Tarifa + "' & Temporada=='"
                    + estacion[e][:-1] + "'")["Precio Propuesto"].array
    
            # Sí está en tarifa DAC.
            else:
                # El resto de pagos es igual a cero.
                df.loc[i[0], col] = 0

                # Se calcula el pago con todo el consumo general.
                df.loc[i[0], "DAC_Pago"] = ( (
                    i.Verano_Consumo_Usuario +
                    i.Invierno_Consumo_Usuario )
                    * regiones.loc[
                    regiones["CVE_ENT"] == i.CVE_ENT,
                        "DAC 04-2013"].values[0] + FIJO_DAC )
                    
                #df.loc[i[0], "Tarifa"] = "DAC"

        # Se calcula el pago por temporada.
        df[estacion[e] + "Pago"] = ( df[
            np.concatenate( [ escalon_cons[e]
            ] ) ].sum(axis = 1) * IVA )

    # Se eliminan las columnas de apoyo.
    df.drop( columns = np.concatenate( [
        escalon_cons[0], escalon[0], escalon_cons[1], escalon[1],
        ["Verano_Consumo_Usuario", "Invierno_Consumo_Usuario"]
        ] ), inplace = True )

    # Se calcula el pago total.
    df["Pago_real"] = ( df[[estacion[0] + "Pago",
        estacion[1] + "Pago", "DAC_Pago"]].sum(axis = 1) )

    # Se eliminan los pagos parciales.
    df.drop( columns = [ estacion[0] + "Pago",
        estacion[1] + "Pago", "DAC_Pago" ], inplace = True )

    # Unimos el consumo de verano e invierno.
    df["Consumo_1*"] = ( df["Verano_Consumo_1*"]
        + df["Invierno_Consumo_1*"] )
    df["Consumo_Usuario"] = df["Consumo_1*"] / df["Usuarios_1*"]
    df["Pago_sin_subsidio"] = np.nan

    # Calculamos el precio sin subsidio, es decir,
    # con un precio plano igual al precio marginal.
    for i in df.itertuples():
        df.loc[i[0], "Pago_sin_subsidio"] = ( 
            i.Consumo_Usuario * regiones.loc[
            regiones["CVE_ENT"] == i.CVE_ENT,
            "Equilibrio" ].values[0] * IVA * MULT )

    # Se calcula el subsidio.
    df["Subsidio_Usuario"] = ( df["Pago_sin_subsidio"]
        - df["Pago_real"] )
    df["Subsidio"] = df["Subsidio_Usuario"] * df["Usuarios_1*"]

    df.to_csv( f_path[k] + "_Pago_Propuesto" 
        + csv, index = False )

    print(f_path[k] + "_Pago_Propuesto" + csv)     
    print(f"Subsidio: {df.Subsidio.sum():e}")
    print(f"Usuarios: {df['Usuarios_1*'].sum():e}")
    print(f"Consumo : {df['Consumo_1*'].sum():e}\n")        

df

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2030_Pago_Propuesto.csv
Subsidio: 6.903200e+10
Usuarios: 4.624972e+07
Consumo : 7.577375e+10

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2050_Pago_Propuesto.csv
Subsidio: 8.398923e+10
Usuarios: 5.649878e+07
Consumo : 1.008955e+11

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2070_Pago_Propuesto.csv
Subsidio: 9.452654e+10
Usuarios: 6.185084e+07
Consumo : 1.203056e+11

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2030_tarifa_teorica_Pago_Propuesto.csv
Subsidio: 6.644516e+10
Usuarios: 4.624972e+07
Consumo : 7.577375e+10

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2050_tarifa_teorica_Pago_Propuesto.csv
Subsidio: 8.249676e+10
Usuarios: 5.649878e+07
Consumo : 1.008955e+11

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2070_tarifa_teorica_Pago_Propuesto.csv
Subsidio: 9.402075e+10
Usuarios: 6.185084e+07
Consumo : 1.203056e+11

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2030_pob_pib_Pago_Propuesto.csv
Subsidio: 6.706298e+10
Usuarios: 4.624972e+07
Consumo : 7.436655e+10

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2050_pob_pib_Pago_Propuesto.csv
Subsidio: 8.375946e+10
Usuarios: 5.649878e+07
Consumo : 9.719783e+10

/content/drive/MyDrive/Colab/Subsidio_electricidad/data/RCP8p5/data.2070_pob_pib_Pago_Propuesto.csv
Subsidio: 9.630453e+10
Usuarios: 6.185084e+07
Consumo : 1.122844e+11

      CVE_INEGI  CVE_ENT  ...  Subsidio_Usuario      Subsidio
0          1001        1  ...       1265.928520  3.546473e+08
1          1002        1  ...       1265.321237  3.326403e+07
2          1003        1  ...       1556.765741  4.828776e+07
3          1004        1  ...       1452.579000  2.114374e+07
4          1005        1  ...       1250.998124  7.215757e+07
...         ...      ...  ...               ...           ...
2464      32054       32  ...       1498.075884  2.124272e+07
2465      32055       32  ...       1549.412780  2.193349e+07
2466      32056       32  ...       1331.239177  1.141684e+08
2467      32057       32  ...        168.609589  2.029554e+06
2468      32058       32  ...       1614.998260  9.333075e+06

[2469 rows x 35 columns]