In [52]:
# Calcula el pago de luz.

import pandas as pd
import numpy as np

In [53]:
path = "/content/drive/MyDrive/Colab/Subsidio_electricidad/"

# Escenarios.
RCP = ["RCP4p5", "RCP8p5"]
fut = [2030, 2050, 2070]

# Directorios.
dirs = ["Actual"] + RCP
path_data = [path + "data/" + x + "/data" for x in dirs]
csv = ".csv"
path_cfe = path + "CFE/"
f_tarifa = "Tarifa_1.csv"
f_dac = "DAC.csv"
f_regiones = "Regiones.csv"

tarifa = pd.read_csv(path_cfe + f_tarifa)
dac = pd.read_csv(path_cfe + f_dac)
regiones = pd.read_csv(path_cfe + f_regiones)

# Tipos de escalones para las tarifas.
escalon_0 = tarifa["Escalon"].unique()

# Se establece la tarifa DAC para cada estado.
regiones[ ["DAC", "Equilibrio"] ] = np.nan
for i in regiones.itertuples():
    regiones.loc[ i[0], ["DAC", "Equilibrio"] ] = ( 
        dac.drop(8).loc[ dac["Region"] == i.Region,
        ["DAC", "Equilibrio"] ].values[0] )

In [134]:
k = 0

cons = ["Verano_Consumo_1*", "Verano_Consumo_DAC",
    "Invierno_Consumo_1*", "Invierno_Consumo_DAC"]

# Información mensual.
df_0 = pd.read_csv(path_data[k] + csv)
# Información anual.
df_y = pd.read_csv(path_data[k] + "_yearly" + csv)

# Promediamos el consumo y usuarios anuales.
if k == 0:
    df = df_y.groupby("CVE_INEGI").mean()
    df["Tarifa"] = ""

    # Recuperamos la información de las tarifas.
    for i in df.itertuples():
        df.loc[i[0], "Tarifa"] = df_y.query(
            "CVE_INEGI==" + str(i[0]) +
            " & Año==2010" )["Tarifa"].values[0]

# Redondeamos la cantidad de usuarios.
df[["Usuarios_1*", "Usuarios_DAC"]] = df[
    ["Usuarios_1*", "Usuarios_DAC"]].round()

# Retiramos la columna de año, que ya no tiene sentido.
df.drop(columns = "Año", inplace = True)

# Sumamos el consumo correspondiente al verano.
df_2 = df_0.where(df_0["Verano"] == True)
df_2 = df_2[df_2["CVE_INEGI"].notna()]
df_2 = df_2.groupby(["CVE_INEGI", "Mes"]
    ).mean().reset_index()
df_2 = df_2.groupby(["CVE_INEGI"]
    ).sum()#.reset_index()
df[cons[0:2]] = df_2[["Consumo_1*", "Consumo_DAC"]]

# Sumamos el consumo correspondiente al invierno.
df_2 = df_0.where(df_0["Verano"] == False)
df_2 = df_2[df_2["CVE_INEGI"].notna()]
df_2 = df_2.groupby(["CVE_INEGI", "Mes"]
    ).mean().reset_index()
df_2 = df_2.groupby(["CVE_INEGI"]
    ).sum()#.reset_index()
df[cons[2:4]] = df_2[["Consumo_1*", "Consumo_DAC"]]

# Retiramos las columnas de consumo total anual.
df.drop(columns = ["Consumo_1*", "Consumo_DAC"], inplace = True)

# Unimos las tarifas 1 y DAC.
df["Verano_Consumo_1*"] += df["Verano_Consumo_DAC"]
df.drop("Verano_Consumo_DAC", axis = 1, inplace = True)
df["Invierno_Consumo_1*"] += df["Invierno_Consumo_DAC"]
df.drop("Invierno_Consumo_DAC", axis = 1, inplace = True)
df["Usuarios_1*"] += df["Usuarios_DAC"]
df.drop("Usuarios_DAC", axis = 1, inplace = True)

df.reset_index(inplace = True)

df["Verano_Consumo_1*"] += 4e8

# Se crean columnas para los
# escalones de verano e invierno.
verano_escalon = []
invierno_escalon = []
for e in escalon_0:
    verano_escalon.append("Verano_" + e)
    invierno_escalon.append("Invierno_" + e)
escalon = [verano_escalon,
    invierno_escalon]
df[verano_escalon] = np.nan
df[invierno_escalon] = np.nan

# Se establece el valor de consumo límite para cada escalon.
for i in df.itertuples():
    for p in range(len(escalon_0)):
        df.loc[i[0], verano_escalon[p]] = ( 
            tarifa.query('Temporada=="Verano"'
            ' & Escalon=="' + escalon_0[p] + '" & Tarifa=="'
            + str(i.Tarifa) + '"').iat[0, 4] * 6 )
        df.loc[i[0], invierno_escalon[p]] = ( 
            tarifa.query('Temporada=="Verano"'
            ' & Escalon=="' +  escalon_0[p] + '" & Tarifa=="'
            + str(i.Tarifa) + '"').iat[0, 4] * 6 )

# Columnas para consumo en verano e invierno.
estacion = ["Verano_", "Invierno_"]
verano_escalon_cons = [ "Cons_" +
    x for x in verano_escalon ]
invierno_escalon_cons = [ "Cons_" +
    x for x in invierno_escalon ]
escalon_cons = [ verano_escalon_cons,
    invierno_escalon_cons ]

# Columnas para verano.
df["Verano_Consumo_Usuario"] = ( df["Verano_Consumo_1*"]
    / df["Usuarios_1*"] )
df[escalon_cons[0]] = df[escalon[0]].copy()
#df[estacion[0] + "Cons_DAC"] = np.nan
df[estacion[0] + "Pago"] = 0

# Columnas para invierno.
df["Invierno_Consumo_Usuario"] = ( df["Invierno_Consumo_1*"]
    / df["Usuarios_1*"] )
df[escalon_cons[1]] = df[escalon[1]].copy()
#df[estacion[1] + "Cons_DAC"] = np.nan
df[estacion[1] + "Pago"] = 0

df["DAC_Pago"] = 0

df

      CVE_INEGI  CVE_ENT  ...  Invierno_Pago  DAC_Pago
0          1001      1.0  ...              0         0
1          1002      1.0  ...              0         0
2          1003      1.0  ...              0         0
3          1004      1.0  ...              0         0
4          1005      1.0  ...              0         0
...         ...      ...  ...            ...       ...
2464      32054     32.0  ...              0         0
2465      32055     32.0  ...              0         0
2466      32056     32.0  ...              0         0
2467      32057     32.0  ...              0         0
2468      32058     32.0  ...              0         0

[2469 rows x 48 columns]

In [135]:
df_2 = df.copy()

In [136]:
df = df_2.copy()

IVA = 1.16
FIJO_DAC = 121.75

for e in [0, 1]:

    if e == 0: s = 0
    else: s = 6

    col = np.concatenate( [
        [estacion[e] + "Consumo_Usuario"],
        escalon_cons[e]
        ] )

    for i in range(len(col[:-1])):
        df[col[i + 1]] = df[col[i]] - df[col[i + 1]]

    df[col[1:]] = df[col[1:]].clip( lower = 0 )

    col = np.concatenate( [ escalon_cons[e] ] )
    col = np.flip(col)

    for i in range(len(col[:-1])):
        df[col[i]] = df[col[i + 1]]

    for i in df.itertuples():
            
        if not( ( i.Verano_Consumo_Usuario +
            i.Invierno_Consumo_Usuario ) > i.Verano_Excedente):
            if i[37 + s] == 0:
                df.loc[i[0], escalon_cons[e][0]] = i[36 + s]
            if i.Tarifa in ["1", "1A", "1B"]:
                df.loc[i[0], escalon_cons[e][2]] = 0
            for j in range(3):
                if i[37 + s + j + 1] > 0:
                    df.loc[i[0], escalon_cons[e][j]] = i[
                        28 + s * 4 // 6 + j]
        else:
            df.loc[i[0], col] = 0

            df.loc[i[0], "DAC_Pago"] = ( (
                i.Verano_Consumo_Usuario +
                i.Invierno_Consumo_Usuario )
                * regiones.loc[
                regiones["CVE_ENT"] == i.CVE_ENT,
                "DAC"].values[0] + FIJO_DAC )

    df[estacion[e] + "Pago"] = ( df[
        np.concatenate( [ escalon_cons[e]
        ] ) ].sum(axis = 1) * IVA )

df.drop( columns = np.concatenate( [
    escalon_cons[0], escalon[0], escalon_cons[1], escalon[1],
    ["Verano_Consumo_Usuario", "Invierno_Consumo_Usuario"]
    ] ), inplace = True )

df["Pago_real"] = ( df[[estacion[0] + "Pago",
    estacion[1] + "Pago", "DAC_Pago"]].sum(axis = 1) )

df.drop( columns = [ estacion[0] + "Pago",
    estacion[1] + "Pago", "DAC_Pago" ], inplace = True )

# Unimos el consumo de verano e invierno.
df["Consumo_1*"] = df["Verano_Consumo_1*"] + df["Invierno_Consumo_1*"]
df["Consumo_Usuario"] = df["Consumo_1*"] / df["Usuarios_1*"]
df["Pago_sin_subsidio"] = np.nan

for i in df.itertuples():
    df.loc[i[0], "Pago_sin_subsidio"] = ( 
        i.Consumo_Usuario * regiones.loc[
        regiones["CVE_ENT"] == i.CVE_ENT,
        "Equilibrio" ].values[0] * IVA )

df["Subsidio_Usuario"] = ( df["Pago_sin_subsidio"] -
    df["Pago_real"] )
df["Subsidio"] = df["Subsidio_Usuario"] * df["Usuarios_1*"]

df.to_csv(path_data[k] + "_Pago" + csv)

df

      CVE_INEGI  CVE_ENT  ...  Subsidio_Usuario      Subsidio
0          1001      1.0  ...      -5206.593570 -1.327546e+09
1          1002      1.0  ...     -61213.570724 -7.074452e+08
2          1003      1.0  ...     -42970.111598 -7.191478e+08
3          1004      1.0  ...    -182067.589981 -6.896720e+08
4          1005      1.0  ...     -24621.536333 -7.533451e+08
...         ...      ...  ...               ...           ...
2464      32054     32.0  ...    -172684.812540 -6.774425e+08
2465      32055     32.0  ...     -77652.557077 -6.869922e+08
2466      32056     32.0  ...     -19949.047116 -7.521190e+08
2467      32057     32.0  ...     -45118.371460 -7.071854e+08
2468      32058     32.0  ...    -634365.322771 -6.724272e+08

[2469 rows x 33 columns]

In [130]:
f"{df['Subsidio'].sum():e}"

'1.162155e+11'

In [ ]:
k = 0

df_0 = pd.read_csv(path_data[k] + csv)

if k == 0:
    df = df_0.groupby("CVE_INEGI").mean()
    df.reset_index(inplace = True)
    df["Tarifa"] = ""

    for i in df.itertuples():
        df.loc[i[0], "Tarifa"] = df_0.query(
            "CVE_INEGI==" + str(i.CVE_INEGI) +
            " & Año==2010" )["Tarifa"].values[0]

df.drop(columns = "Año", inplace = True)

# Unimos las tarifas 1 y DAC.
df["Verano_Consumo_1*"] += df["Verano_Consumo_DAC"]
df.drop("Verano_Consumo_DAC", axis = 1, inplace = True)

df["Invierno_Consumo_1*"] += df["Invierno_Consumo_DAC"]
df.drop("Invierno_Consumo_DAC", axis = 1, inplace = True)

df["Usuarios_1*"] += df["Usuarios_DAC"]
df.drop("Usuarios_DAC", axis = 1, inplace = True)

verano_escalon = []
invierno_escalon = []
escalon = [verano_escalon,
    invierno_escalon]

for e in escalon_0:
    verano_escalon.append("Verano_" + e)
    invierno_escalon.append("Invierno_" + e)

df[verano_escalon] = np.nan
df[invierno_escalon] = np.nan

for i in df.itertuples():
    for p in range(len(escalon_0)):
        df.loc[i[0], verano_escalon[p]] = ( 
            tarifa.query('Temporada=="Verano"'
            ' & Escalon=="' + escalon_0[p] + '" & Tarifa=="'
            + str(i.Tarifa) + '"').iat[0, 4] * 12 )
        df.loc[i[0], invierno_escalon[p]] = ( 
            tarifa.query('Temporada=="Verano"'
            ' & Escalon=="' +  escalon_0[p] + '" & Tarifa=="'
            + str(i.Tarifa) + '"').iat[0, 4] * 12 )

estacion = ["Verano_", "Invierno_"]
verano_escalon_cons = [ "Cons_" +
    x for x in verano_escalon ]
invierno_escalon_cons = [ "Cons_" +
    x for x in invierno_escalon ]
escalon_cons = [ verano_escalon_cons,
    invierno_escalon_cons ]

df["Verano_Consumo_Usuario"] = ( df["Verano_Consumo_1*"]
    / df["Usuarios_1*"] )
df[escalon_cons[0]] = df[escalon[0]].copy()
#df[estacion[0] + "DAC"] = np.nan
df[estacion[0] + "Cons_DAC"] = np.nan
df[estacion[0] + "Pago"] = np.nan

df["Invierno_Consumo_Usuario"] = ( df["Invierno_Consumo_1*"]
    / df["Usuarios_1*"] )
df[escalon_cons[1]] = df[escalon[1]].copy()
#df[estacion[1] + "DAC"] = np.nan
df[estacion[1] + "Cons_DAC"] = np.nan
df[estacion[1] + "Pago"] = np.nan

df.head()

KeyboardInterrupt: ignored

In [ ]:
IVA = 1.16
FIJO_DAC = 121.75

for e in [0, 1]:

    if e == 0: s = 0
    else: s = 7

    col = np.concatenate( [
        [estacion[e] + "Consumo_Usuario"],
        escalon_cons[e]
        ] )

    for i in range(len(col[:-1])):
        df[col[i + 1]] = df[col[i]] - df[col[i + 1]]

    df[col[1:]] = df[col[1:]].clip( lower = 0 )

    col = np.concatenate( [ escalon_cons[e],
        [estacion[e] + "Cons_DAC"] ] )
    col = np.flip(col)

    for i in range(len(col[:-1])):
        df[col[i]] = df[col[i + 1]]

    for i in df.itertuples():
        if i[35 + s] == 0:
            df.loc[i[0], escalon_cons[e][0]] = i[34 + s]
        if i.Tarifa in ["1", "1A", "1B"]:
            df.loc[i[0], escalon_cons[e][2]] = 0
        for j in range(4):
            if i[35 + s + j + 1] > 0:
                df.loc[i[0], escalon_cons[e][j]] = i[35 + s + j]

    for i in df.itertuples():
        if e == 0:
            m = i.Verano_Cons_DAC
            n = i.Verano_Consumo_Usuario
            temp = "Verano"
        else:
            m = i.Invierno_Cons_DAC
            n = i.Invierno_Consumo_Usuario
            temp = "Invierno"
        if m == 0:
            for j in range(4):
                df.loc[i[0], escalon_cons[e][j]] = (
                    i[35 + s + j] * tarifa.query( 'Temporada=="' + temp
                    + '" & Escalon=="' + escalon_0[j] + '" & Tarifa=="'
                    + str(i.Tarifa) + '"' ).iat[0, 3] )
        else:
            df.loc[i[0], escalon_cons[e]] = 0
            df.loc[i[0], estacion[e] + "Cons_DAC"] = (
                n * regiones.loc[
                regiones["CVE_ENT"] == i.CVE_ENT,
                "DAC"].values[0] + FIJO_DAC )

    df[estacion[e] + "Pago"] = ( df[
        np.concatenate( [ escalon_cons[e],
        [estacion[e] + "Cons_DAC"] ] ) ].sum(axis = 1) * IVA )

df.drop( columns = np.concatenate( [
    escalon_cons[0], escalon[0], escalon_cons[1], escalon[1],
    [estacion[0] + "Cons_DAC", estacion[1] + "Cons_DAC",
    "Verano_Consumo_Usuario", "Invierno_Consumo_Usuario"]
    ] ), inplace = True )

df["Pago_real"] = ( df[estacion[0] + "Pago"] 
    + df[estacion[1] + "Pago"] )

df.drop( columns = [ estacion[0] + "Pago",
    estacion[1] + "Pago" ], inplace = True )

# Unimos el consumo de verano e invierno.
df["Consumo_1*"] = df["Verano_Consumo_1*"] + df["Invierno_Consumo_1*"]
df["Consumo_Usuario"] = df["Consumo_1*"] / df["Usuarios_1*"]
df["Pago_sin_subsidio"] = np.nan

for i in df.itertuples():
    df.loc[i[0], "Pago_sin_subsidio"] = ( 
        i.Consumo_Usuario * regiones.loc[
        regiones["CVE_ENT"] == i.CVE_ENT,
        "Equilibrio" ].values[0] * IVA )

df.drop( columns = ["Consumo_1*"],
    inplace = True )

df["Subsidio_Usuario"] = ( df["Pago_sin_subsidio"] -
    df["Pago_real"] )
df["Subsidio"] = df["Subsidio_Usuario"] * df["Usuarios_1*"]

df.to_csv(path_data[k] + "_Pago" + csv)

df

      CVE_INEGI  CVE_ENT  CVE_MUN  ...  Subsidio_Usuario  Subsidio_Per      Subsidio
0          1001      1.0      1.0  ...       2992.953764      0.709340  7.631224e+08
1          1002      1.0      2.0  ...       2652.091036      0.709340  3.065097e+07
2          1003      1.0      3.0  ...       2665.525228      0.709340  4.460947e+07
3          1004      1.0      4.0  ...       2628.612170      0.709340  9.957558e+06
4          1005      1.0      5.0  ...       2801.724192      0.709340  8.572315e+07
...         ...      ...      ...  ...               ...           ...           ...
2464      32054     32.0     54.0  ...       2270.373544      0.704837  8.906027e+06
2465      32055     32.0     55.0  ...       2250.990059      0.704837  1.991451e+07
2466      32056     32.0     56.0  ...       2765.410692      0.704837  1.042635e+08
2467      32057     32.0     57.0  ...       3166.931923      0.704837  4.964030e+07
2468      32058     32.0     58.0  ...       1772.260484      0.704837  1.879862e+06

[2469 rows x 31 columns]