In [52]:
# Calcula el pago de luz para tarifas residenciales.

import pandas as pd
import numpy as np

In [53]:
path = "/content/drive/MyDrive/Colab/Subsidio_electricidad/"

# Escenarios.
RCP = ["RCP4p5", "RCP8p5"]
fut = [2030, 2050, 2070]

# Directorios.
dirs = ["Actual"] + RCP
path_data = [path + "data/" + x + "/data" for x in dirs]
csv = ".csv"
path_cfe = path + "CFE/"
f_tarifa = "Tarifa_1.csv"
f_dac = "DAC.csv"
f_regiones = "Regiones.csv"

tarifa = pd.read_csv(path_cfe + f_tarifa)
dac = pd.read_csv(path_cfe + f_dac)
regiones = pd.read_csv(path_cfe + f_regiones)

# Tipos de escalones para las tarifas.
escalon_0 = tarifa["Escalon"].unique()

# Se establece la tarifa DAC para cada estado.
regiones[ ["DAC", "Equilibrio"] ] = np.nan
for i in regiones.itertuples():
    regiones.loc[ i[0], ["DAC", "Equilibrio"] ] = ( 
        dac.drop(8).loc[ dac["Region"] == i.Region,
        ["DAC", "Equilibrio"] ].values[0] )

In [139]:
k = 0

cons = ["Verano_Consumo_1*", "Verano_Consumo_DAC",
    "Invierno_Consumo_1*", "Invierno_Consumo_DAC"]

# Información mensual.
df_0 = pd.read_csv(path_data[k] + csv)
# Información anual.
df_y = pd.read_csv(path_data[k] + "_yearly" + csv)

# Promediamos el consumo y usuarios anuales.
if k == 0:
    df = df_y.groupby("CVE_INEGI").mean()
    df["Tarifa"] = ""

    # Recuperamos la información de las tarifas.
    for i in df.itertuples():
        df.loc[i[0], "Tarifa"] = df_y.query(
            "CVE_INEGI==" + str(i[0]) +
            " & Año==2010" )["Tarifa"].values[0]

# Redondeamos la cantidad de usuarios.
df[["Usuarios_1*", "Usuarios_DAC"]] = df[
    ["Usuarios_1*", "Usuarios_DAC"]].round()

# Retiramos la columna de año, que ya no tiene sentido.
df.drop(columns = "Año", inplace = True)

# Sumamos el consumo correspondiente al verano.
df_2 = df_0.where(df_0["Verano"] == True)
df_2 = df_2[df_2["CVE_INEGI"].notna()]
df_2 = df_2.groupby(["CVE_INEGI", "Mes"]
    ).mean().reset_index()
df_2 = df_2.groupby(["CVE_INEGI"]
    ).sum()#.reset_index()
df[cons[0:2]] = df_2[["Consumo_1*", "Consumo_DAC"]]

# Sumamos el consumo correspondiente al invierno.
df_2 = df_0.where(df_0["Verano"] == False)
df_2 = df_2[df_2["CVE_INEGI"].notna()]
df_2 = df_2.groupby(["CVE_INEGI", "Mes"]
    ).mean().reset_index()
df_2 = df_2.groupby(["CVE_INEGI"]
    ).sum()#.reset_index()
df[cons[2:4]] = df_2[["Consumo_1*", "Consumo_DAC"]]

# Retiramos las columnas de consumo total anual.
df.drop(columns = ["Consumo_1*", "Consumo_DAC"], inplace = True)

# Unimos las tarifas 1 y DAC.
df["Verano_Consumo_1*"] += df["Verano_Consumo_DAC"]
df.drop("Verano_Consumo_DAC", axis = 1, inplace = True)
df["Invierno_Consumo_1*"] += df["Invierno_Consumo_DAC"]
df.drop("Invierno_Consumo_DAC", axis = 1, inplace = True)
df["Usuarios_1*"] += df["Usuarios_DAC"]
df.drop("Usuarios_DAC", axis = 1, inplace = True)

df.reset_index(inplace = True)

# Se crean columnas para los
# escalones de verano e invierno.
verano_escalon = []
invierno_escalon = []
for e in escalon_0:
    verano_escalon.append("Verano_" + e)
    invierno_escalon.append("Invierno_" + e)
escalon = [verano_escalon,
    invierno_escalon]
df[verano_escalon] = np.nan
df[invierno_escalon] = np.nan

# Se establece el valor de consumo límite para cada escalon.
for i in df.itertuples():
    for p in range(len(escalon_0)):
        df.loc[i[0], verano_escalon[p]] = ( 
            tarifa.query('Temporada=="Verano"'
            ' & Escalon=="' + escalon_0[p] + '" & Tarifa=="'
            + str(i.Tarifa) + '"').iat[0, 4] * 6 )
        df.loc[i[0], invierno_escalon[p]] = ( 
            tarifa.query('Temporada=="Verano"'
            ' & Escalon=="' +  escalon_0[p] + '" & Tarifa=="'
            + str(i.Tarifa) + '"').iat[0, 4] * 6 )

# Columnas para consumo en verano e invierno.
estacion = ["Verano_", "Invierno_"]
verano_escalon_cons = [ "Cons_" +
    x for x in verano_escalon ]
invierno_escalon_cons = [ "Cons_" +
    x for x in invierno_escalon ]
escalon_cons = [ verano_escalon_cons,
    invierno_escalon_cons ]

# Columnas para verano.
df["Verano_Consumo_Usuario"] = ( df["Verano_Consumo_1*"]
    / df["Usuarios_1*"] )
df[escalon_cons[0]] = df[escalon[0]].copy()
#df[estacion[0] + "Cons_DAC"] = np.nan
df[estacion[0] + "Pago"] = 0

# Columnas para invierno.
df["Invierno_Consumo_Usuario"] = ( df["Invierno_Consumo_1*"]
    / df["Usuarios_1*"] )
df[escalon_cons[1]] = df[escalon[1]].copy()
#df[estacion[1] + "Cons_DAC"] = np.nan
df[estacion[1] + "Pago"] = 0

df["DAC_Pago"] = 0

df

      CVE_INEGI  CVE_ENT  ...  Invierno_Pago  DAC_Pago
0          1001      1.0  ...              0         0
1          1002      1.0  ...              0         0
2          1003      1.0  ...              0         0
3          1004      1.0  ...              0         0
4          1005      1.0  ...              0         0
...         ...      ...  ...            ...       ...
2464      32054     32.0  ...              0         0
2465      32055     32.0  ...              0         0
2466      32056     32.0  ...              0         0
2467      32057     32.0  ...              0         0
2468      32058     32.0  ...              0         0

[2469 rows x 48 columns]

In [140]:
IVA = 1.16
FIJO_DAC = 121.75

# Iteramos para verano e invierno.
for e in [0, 1]:

    # Offset de columnas de verano e invierno.
    if e == 0: s = 0
    else: s = 6

    col = np.concatenate( [
        [estacion[e] + "Consumo_Usuario"],
        escalon_cons[e]
        ] )

    # Calculamos los escalones de consumo
    # de acuerdo con cada límite.
    for i in range(len(col[:-1])):
        df[col[i + 1]] = df[col[i]] - df[col[i + 1]]

    # Eliminamos valores negativos.
    df[col[1:]] = df[col[1:]].clip( lower = 0 )

    col = np.concatenate( [ escalon_cons[e] ] )
    col = np.flip(col)

    # Recorremos los escalones a su posición adecuada.
    for i in range(len(col[:-1])):
        df[col[i]] = df[col[i + 1]]

    for i in df.itertuples():
            
        # No se está en tarifa DAC.
        if not( ( i.Verano_Consumo_Usuario +
            i.Invierno_Consumo_Usuario ) > i.Verano_Excedente):
            # Si el consumo es menor al límite básico, el
            # escalon básico es igual al consumo total.
            if i[37 + s] == 0:
                df.loc[i[0], escalon_cons[e][0]] = i[36 + s]
            # Se elimina  el escalón intermedio alto
            # para las tarifas donde no existe.
            # Si el precio de este escalon es cero,
            # este paso no debería ser necesario.
            if i.Tarifa in ["1", "1A", "1B"]:
                df.loc[i[0], escalon_cons[e][2]] = 0
            # Si el consumo excede un escalón, 
            # el consumo de un escalón es su límite.
            for j in range(3):
                if i[37 + s + j + 1] > 0:
                    df.loc[i[0], escalon_cons[e][j]] = i[
                        28 + s * 4 // 6 + j]
        
        # Sí está en tarifa DAC.
        else:
            # El resto de pagos es igual a cero.
            df.loc[i[0], col] = 0

            # Se calcula el pago con todo el consumo general.
            df.loc[i[0], "DAC_Pago"] = ( (
                i.Verano_Consumo_Usuario +
                i.Invierno_Consumo_Usuario )
                * regiones.loc[
                regiones["CVE_ENT"] == i.CVE_ENT,
                "DAC"].values[0] + FIJO_DAC )

    # Se calcula el pago por temporada.
    df[estacion[e] + "Pago"] = ( df[
        np.concatenate( [ escalon_cons[e]
        ] ) ].sum(axis = 1) * IVA )

# Se eliminan las columnas de apoyo.
df.drop( columns = np.concatenate( [
    escalon_cons[0], escalon[0], escalon_cons[1], escalon[1],
    ["Verano_Consumo_Usuario", "Invierno_Consumo_Usuario"]
    ] ), inplace = True )

# Se calcula el pago total.
df["Pago_real"] = ( df[[estacion[0] + "Pago",
    estacion[1] + "Pago", "DAC_Pago"]].sum(axis = 1) )

# Se eliminan los pagos totales.
df.drop( columns = [ estacion[0] + "Pago",
    estacion[1] + "Pago", "DAC_Pago" ], inplace = True )

# Unimos el consumo de verano e invierno.
df["Consumo_1*"] = df["Verano_Consumo_1*"] + df["Invierno_Consumo_1*"]
df["Consumo_Usuario"] = df["Consumo_1*"] / df["Usuarios_1*"]
df["Pago_sin_subsidio"] = np.nan

# Calculamos el precio sin subsidio, es decir,
# con un precio plano igual al precio marginal.
for i in df.itertuples():
    df.loc[i[0], "Pago_sin_subsidio"] = ( 
        i.Consumo_Usuario * regiones.loc[
        regiones["CVE_ENT"] == i.CVE_ENT,
        "Equilibrio" ].values[0] * IVA )

# Se calcula el subsidio.
df["Subsidio_Usuario"] = ( df["Pago_sin_subsidio"] -
    df["Pago_real"] )
df["Subsidio"] = df["Subsidio_Usuario"] * df["Usuarios_1*"]

df.to_csv(path_data[k] + "_Pago" + csv)

df

      CVE_INEGI  CVE_ENT  ...  Subsidio_Usuario      Subsidio
0          1001      1.0  ...       3282.312812  8.369044e+08
1          1002      1.0  ...       2927.145168  3.382902e+07
2          1003      1.0  ...       2921.113789  4.888776e+07
3          1004      1.0  ...       2888.756986  1.094261e+07
4          1005      1.0  ...       3042.894825  9.310345e+07
...         ...      ...  ...               ...           ...
2464      32054     32.0  ...       2129.406047  8.353660e+06
2465      32055     32.0  ...       2309.493615  2.043209e+07
2466      32056     32.0  ...       2747.364235  1.035811e+08
2467      32057     32.0  ...       2970.621599  4.656152e+07
2468      32058     32.0  ...       1939.468873  2.055837e+06

[2469 rows x 33 columns]